---
const stats = [
  {
    name: 'Years',
    value: '9',
  },
  {
    name: 'Experts',
    value: '15',
  },
  {
    name: 'Projects',
    value: '122',
  },
  {
    name: 'Awards',
    value: "'9'",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Francis Fitzgibbon</h2>
          <div class="space-y-6">
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Francis Fitzgibbon is a former reporter on The Pat Kenny Show on Newstalk and an experienced
              journalist, documentary maker and communications specialist. He presented the award-winning
              Breakfast Show on Radio Kerry before moving to Newstalk 106FM in Dublin where he worked as a
              series producer on several flagship programmes including The Eamon Dunphy Show, The Síle Seoige
              Show, and The Breakfast Show with Ivan Yates. He later became a reporter on The Pat Kenny Show,
              while also writing as a freelance contributor for the Irish Independent and appearing regularly as a
              guest commentator on Ireland AM on Virgin Media One.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Francis now helps organisations secure meaningful media coverage across national and local media,
              raising your profile and that of your organisation. From crafting clear, compelling messages and
              press releases to preparing detailed interview briefs for radio and television appearances, Francis
              helps clients to engage with media with confidence and impact.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              He has worked with organisations including Microsoft Ireland, the European Commission, Vodafone
              and Ancestry.com. His current clients include the Irish Road Haulage Association, the European
              Parliament, Reputations Agency and Fianna Fáil.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <!-- <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl> -->
      </div>
    </div>
  </div>
</section>
