---
const services = [
  {
    step: '01',
    name: 'Title ?',
    description:
      'Secure consistent media coverage for you and your organisation across local and national outlets, ensuring your message lands clearly and effectively.',
  },
  {
    step: '02',
    name: 'Title ?',
    description:
      'Comprehensive media briefing documents for live interviews that anticipate likely questions and provide strong, ready-to-use responses.',
  },
  {
    step: '03',
    name: 'Maintain',
    description:
      'Practical guidance on handling live interviews, helping you stay calm, focused and in control of the conversation.',
  },
  {
    step: '04',
    name: 'Maintain',
    description:
      'Strategic media positioning to raise the profile of you and your organisation at both local and national level.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Services</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <!--<p class="text-sm">{service.step}</p>-->
              <div class="flex flex-col gap-4">
                <!--<h3 class="text-xl font-medium">{service.name}</h3>-->
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
